.pic1{ height: 200px;
    width: 300px;
    margin-bottom: 8px;
    margin:8px;
    background-image: url(pic1.gif);
    background-repeat: no-repeat;
    background-size:100%;

}
body{ color:white
}
nav a{
    color:black;
    text-decoration: none;
}
/*Each text tag (h1, h2, p, etc.) should have a margin-bottom of 20px.*/
h1{margin-bottom: 20px;}
h1{margin-bottom: 20px;}
p{margin-bottom: 20px;}
#container { height:100%; 
             width:100%;
             background-color: red;
}
.flex-container {
    display: flex;
    flex-direction: row;
  }
@media(min-width: 0px){
    .pic1{width: 100%;
          background-size: 50%;}
    #left{float:none;}
    #right{float:none;}
    #container{background-color: green;
               height: 1000px;}
    .flex-container {display: flex;
                     flex-direction: column;
              }
    }
    
@media(min-width: 800px){
    .pic1{width:200px;
          background-size: 100%;
          display: flex;
          flex-direction: row;
          }
        #container{background-color:red;
                    height:500px;}
        .flex-container {display: flex;
                        flex-direction: row;
                      }
        }
footer{ width: auto;
        height: auto;
        background-color: white;
        border-top: 2px;
        border-color: black;
        text-align: center;
        color:black;
        }  
        *{ margin:0;}